<style>
    .bootstrap-table tr td .text-muted {color:#888;}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" data-force-refresh="false"><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('auth/rule/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('auth/rule/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('auth/rule/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <div class="dropdown btn-group {:$auth->check('auth/rule/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div>
                        <a href="javascript:;" class="btn btn-danger btn-toggle-all"><i class="fa fa-plus"></i> {:__('Toggle all')}</a>
                    </div>
                    <table id="table" class="table table-bordered table-hover"
                           data-operate-edit="{:$auth->check('auth/rule/edit')}"
                           data-operate-del="{:$auth->check('auth/rule/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    // 生成子菜单：弹窗勾选该规则下的候选子菜单，已生成的默认勾选
    function GenSubmenu(id) {
        $.ajax({
            url: 'auth/rule/submenu',
            type: 'GET',
            data: {id: id},
            dataType: 'json',
            success: function (ret) {
                if (ret.code !== 1) {
                    Layer.msg(ret.msg, {icon: 2});
                    return;
                }
                var data = ret.data;
                var html = '<div style="padding:15px 20px;">' +
                    '<p class="text-muted" style="margin-bottom:10px;">{:__('规则')}：<code>' + data.name + '</code></p>' +
                    '<div style="max-height:400px;overflow:auto;">';
                var has = false;
                $.each(data.methods, function (i, m) {
                    has = true;
                    html += '<label style="display:block;margin:6px 0;font-weight:normal;">' +
                        '<input type="checkbox" name="submethod" value="' + m.method + '"' + (m.exists ? ' checked' : '') + '> ' +
                        '<code>' + m.method + '</code> - ' + m.title +
                        (m.exists ? ' <span class="text-success">（{:__('已生成')}）</span>' : '') +
                        '</label>';
                });
                html += '</div></div>';
                if (!has) {
                    html = '<div style="padding:30px;text-align:center;color:#999;">{:__('未找到可生成的控制器方法')}</div>';
                }
                Layer.open({
                    type: 1,
                    title: '{:__('生成子菜单')}',
                    area: ['500px', '80%'],
                    content: html,
                    btn: ['{:__('生成')}', '{:__('取消')}'],
                    yes: function (index, layero) {
                        var methods = [];
                        layero.find('input[name="submethod"]:checked').each(function () {
                            methods.push($(this).val());
                        });
                        if (methods.length === 0) {
                            Layer.msg('{:__('请至少勾选一个子菜单')}', {icon: 2});
                            return;
                        }
                        $.ajax({
                            url: 'auth/rule/gensubmenu',
                            type: 'POST',
                            data: {id: id, methods: methods},
                            dataType: 'json',
                            success: function (ret2) {
                                if (ret2.code === 1) {
                                    Layer.close(index);
                                    Layer.msg(ret2.msg, {icon: 1});
                                    $('#table').bootstrapTable('refresh');
                                    if (typeof Fast !== 'undefined' && Fast.api) {
                                        Fast.api.refreshmenu();
                                    }
                                } else {
                                    Layer.msg(ret2.msg, {icon: 2});
                                }
                            }
                        });
                    }
                });
            }
        });
    }
</script>
